<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs")%>
    <body>

        <%- include('./partials/nav.ejs')%>

        <div class="about content">
            <h2>About Us</h2>
            <p>At NERDBlog, we are passionate about all things technology. Our goal is to provide our readers with the latest news, insights, and trends from the ever-evolving world of tech. Whether you're a tech enthusiast, a professional 
                in the industry, or simply curious about the latest gadgets and innovations, you've come to the right place.</p>
            <p>Our team of experienced writers and tech enthusiasts work tirelessly to bring you informative and engaging content. 
                We cover a wide range of topics, including Technology news, Reviews and Recommendations, How-To Guides, Industry Insights, 
            Interviews and Features.</p>
            <p>Our mission is to make technology accessible and understandable for everyone. We strive to break down complex concepts into digestible content, ensuring 
                that both tech-savvy individuals and beginners can benefit from our articles.</p>
            <p>Join our passionate community of tech enthusiasts by subscribing to our newsletter and following us on social media. We encourage you to engage in discussions, share your thoughts, and ask questions. 
                Your feedback and ideas are invaluable to us as we continue to grow and improve.</p>
            <p>Thank you for visiting NERDBlog. We hope you find our 
                content informative, inspiring, and enjoyable. Let's explore the exciting world of technology together!</p>
            
        </div>
        <%- include("./partials/footer.ejs")%>
    </body>
</html>