<nav>
    <div class="site-title">
        <a href="/"><h1><span id="sp1">NERD</span><span id="sp2">B</span>log</h1></a>
        <p>Intelligent technology for exceptional content</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>